<div class="chat_header">
  <div class="chat_name">hogehuga</div>
  <div class="link">
   <a href="" class="a_chat_header">チャットを終了する</a>
  </div>

</div>

<div class="chat_room">
  <div class="chat">
  <div class="upper-message">
      <div class="name">Tom</div>
      <div class="date">2022/3/31(wed)12:22:22</div>
  </div>
  <div class="lower-message">
      <p class="text">おはよう</p>
  </div>
  </div>
    <div class="chat">
  <div class="upper-message">
      <div class="name">Tom</div>
      <div class="date">2022/3/31(wed)12:22:22</div>
  </div>
  <div class="lower-message">
      <p class="text">おはよう</p>
  </div>
  </div>
  <div class="chat">
  <div class="upper-message">
      <div class="name">Tom</div>
      <div class="date">2022/3/31(wed)12:22:22</div>
  </div>
  <div class="lower-message">
      <p class="text">おはよう</p>
  </div>
  </div>
  <div class="chat">
  <div class="upper-message">
      <div class="name">Tom</div>
      <div class="date">2022/3/31(wed)12:22:22</div>
  </div>
  <div class="lower-message">
      <p class="text">おはよう</p>
  </div>
  </div>

    <div class="chat">
  <div class="upper-message">
      <div class="name">Tom</div>
      <div class="date">2022/3/31(wed)12:22:22</div>
  </div>
  <div class="lower-message">
      <p class="text">おはよう</p>
  </div>
  </div>
  <div class="chat">
  <div class="upper-message">
      <div class="name">Tom</div>
      <div class="date">2022/3/31(wed)12:22:22</div>
  </div>
  <div class="lower-message">
      <p class="text">おはよう</p>
  </div>
  </div>
  <div class="chat">
  <div class="upper-message">
      <div class="name">Tom</div>
      <div class="date">2022/3/31(wed)12:22:22</div>
  </div>
  <div class="lower-message">
      <p class="text">おはよう</p>
  </div>
  </div>
  <div class="chat">
  <div class="upper-message">
      <div class="name">Tom</div>
      <div class="date">2022/3/31(wed)12:22:22</div>
  </div>
  <div class="lower-message">
      <p class="text">おはよう</p>
  </div>
  </div>



</div>

<div class="footer">


  <div class="post_form">
   <div class="form">
     <input placeholder="type a message" class="form-message">
     <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
   </div>


    <input type="submit" value="送信" class="btn" >

  </div>


</div>