<div class="side_header">
<div class="user_name">
 <%= link_to current_user.name, edit_user_path(current_user)%>
</div>
  <div class="link">
   <a href="" class="a_header">チャットを作成する</a>
  </div>

</div>

<div class="side_room">
  <div class="room">
   <a href="" class="a_room">techroom1</a>    
  </div>
    <div class="room">
   <a href="" class="a_room">techroom2</a>    
  </div>
  <div class="room">
   <a href="" class="a_room">techroom3</a>    
  </div>
  <div class="room">
   <a href="" class="a_room">techroom4</a>    
  </div>
  <div class="room">
   <a href="" class="a_room">techroom5</a>    
  </div>
  <div class="room">
   <a href="" class="a_room">techroom6</a>    
  </div>

</div>