
<%# <div class="side_header">
<div class="user_name">Taishi</div>
  <div class="link">
   <a href="" class="a_header">チャットを作成する</a>
  </div>
======= %>
<div class="side-bar-header">
<div class="header-name">
    <a href="#">Tom</a>
  </div>
  <div class="create-room">
    <a href="#">チャットを作成する</a>
  </div>
</div>

<div class="rooms">
<div class="room">
    <div class="room-name">
      <a href="#">techroom1</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">techroom2</a>
    </div>
  </div>
</div>









<%# <div class="side_header">
<div class="user_name">
 <%= link_to current_user.name, edit_user_path(current_user)%>
<%# </div> %> %>
  <%# <div class="link">
   <%= link_to "チャットを作成する", new_room_path %>
  <%# </div> %>
>>>>>>> Stashed changes

<%# </div>

<div class="side_room">

  <div class="room">
   <a href="" class="a_room">techroom1</a>    
  </div>
    <div class="room">
   <a href="" class="a_room">techroom2</a>    
  </div>
  <div class="room">
   <a href="" class="a_room">techroom3</a>    
  </div>
  <div class="room">
   <a href="" class="a_room">techroom4</a>    
  </div>
  <div class="room">
   <a href="" class="a_room">techroom5</a>    
  </div>
  <div class="room">
   <a href="" class="a_room">techroom6</a>    
  </div>
=======
<% current_user.rooms.each do |room| %>
 <%# <div class="room">
      <div class="room-name">
       <%= link_to room.name, room_messages_path(room) %>
      <%# </div>
 </div>
 <% end %>

>>>>>>> Stashed changes

<%# </div>  %>